@media screen and (min-width: 1500px) {
    #section2 {
        margin-top: -40% !important;
        iframe {
            height: 1000% !important;
        }
    }
    #section4 {
        margin-top: -850px !important;
    }
    #section4-bg {
        margin-top: 8% !important;
    }
    .footer1, .footer2 {
        font-size: 18px;
    }
    #video {
        margin: 0% 58.6% !important;
        margin-right: 20%;
    }
}

@media screen and (max-width: 1500px) {
    #section2 {
        margin-top: -50% !important;
    }
    #section4 {
        margin-top: -850px !important;
    }
    #section4-bg {
        margin-top: 10% !important;
    }
    .footer1, .footer2 {
        font-size: 18px;
    }
    #video {
        margin: -1% 58.6% !important;
        margin-right: 20%;
    }
}

@media screen and (max-width: 1300px) {
    #video {
        margin: -1.5% 58.6% !important;
    }
}

@media screen and (max-width: 1100px) {
    h1 {
        font-size: 28px;
    }
    .p2 {
        font-size: 18px;
    }
    #section2 {
        margin-top: -66%;
    }
    #section4 {
        margin-top: -760px !important;
    }
    .footer1, .footer2 {
        font-size: 14px;
    }
    #video {
        margin: -3% 58.6% !important;
    }
}

@media screen and (max-width: 900px) {
    #header-nav {
        font-size: 14px;
        li {
            margin: 0px 15px;
        }
    }
    h1 {
        font-size: 24px;
    }
    .p1 {
        font-size: 14px;
    }
    .p2 {
        font-size: 16px;
    }
    #section4 {
        margin-top: -640px !important;
    }
    #section4-bg {
        margin-top: 15% !important;
    }
    .footer1, .footer2 {
        font-size: 12px;
    }
    #video {
        margin: -3% 58.6% !important;
    }
}

// tablet
@media screen and (max-width: 785px) {
    #section1 {
        margin-top: 20%;
    }
    #video {
        display: none;
    }
    #header-bg {
        display: none;
    }
    #header-nav {
        display: none;
    }
    header {
        margin-top: 50px;
        #header-bg {
            top: 39px !important;
        }
    }
    #mobile-nav {
        display: block;
    }
    .section {
        h1, p {
            margin-top: 0px !important;
            width: 100% !important;
        }
    }
    #section1 {
        div {
            width: 100% !important;
        }
    }
    #section2 {
        iframe {
            height: 750% !important;
            width: 100% !important;
            margin: 50px 0px !important;
        }
    }
    #section4 {
        margin-top: -575px !important;
    }
}

@media screen and (max-width: 771px) {
    #section2 {
        iframe {
            height: 350% !important;
        }
    }
}

// Mobile
@media screen and (max-width: 600px) {
    #mobile-nav {
        ul {
            li {
                a {
                    padding: 10px 15px;
                }
            }
        }
    }
    .video-text {
        margin-top: 60% !important;
    }
    #section4-bg {
        margin-top: 60% !important;
    }
}

@media screen and (max-width: 500px) {
    #section2 {
        iframe {
            height: 200% !important;
        }
    }
    .video-text {
        margin-top: 80% !important;
    }
    .badge {
        float: none !important;
        margin: 0 auto !important;
        width: 100% !important;
    }
    #badges-row1, #badges-row2 {
        margin-left: 0px !important;
    }
    #section4-bg {
        margin-top: 80% !important;
    }
}

@media screen and (max-width: 360px) {
    #mobile-nav {
        ul {
            li {
                a {
                    padding: 10px 10px;
                }
            }
        }
    } 
    h1 {
        font-size: 20px;
    }
    #section2 {
        iframe {
            height: 180% !important;
        }
    }
    #section4-bg {
        margin-top: 100% !important;
    }
}