a {
    text-decoration: none;
}

.btn {
    color: $white;
    cursor: pointer;
}
.btn:hover {
    color: white;
}
.contact {
    padding: 12px 25px;
    background-color: $orange;
    border-radius: 5px;
}
.leerkans {
    padding: 20px 100px;
    background-color: $pink;
    border-radius: 50px;
}